@page "/about"

<PageTitle>О приложении</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>Информация о приложении</h1>

    <p>Приложение для просмотра карикатурных рисунков автора приложения.</p>

    <p>Опубликованы общедоступные рисунки различной тематики.</p>

    <img src="images/2021/Кефирный мир.jpg" class="img-fluid" alt="Кефирный мир" width="1000" />

    <p>Рассматриваю возможность создания рисунков на заказ различной тематики.</p>

    <div class="row m-1">
        <NavLink class="btn btn-success me-1 p-3" href="order">
            <i class="fas fa-cart-shopping"></i>
            Заказать рисунок
        </NavLink>
    </div>
</div>
