@page "/about"

<PageTitle>О приложении - Никольский кефир</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>Никольский кефир</h1>

    <p>Карикатурные рисунки различной тематики. Веб приложение для просмотра карикатурных рисунков.</p>

    <p>Опубликованы общедоступные рисунки различной тематики.</p>

    <img src="pics/2021/Кефирный мир.jpg" class="img-fluid" alt="Кефирный мир" width="1000" />

    <p>© 2022 - 2023 kanadeiar</p>

    <p>
        <a class="btn btn-outline-dark" target="_blank" href="https://github.com/kanadeiar/nikkefir">
            <i class="fab fa-git"></i>
            GitHub
        </a>
    </p>

    <p>
        <a class="btn btn-outline-info" href="mailto: kanadeiar@gmail.com">Почта для связи: kanadeiar@gmail.com</a>
    </p>

    <div class="row m-1">
        <NavLink class="btn btn-warning me-1 p-3" href="order">
            <i class="fas fa-cart-shopping"></i>
            Заказать рисунок
        </NavLink>
    </div>
</div>