@page "/imageshow/{id:int}"
@layout EmptyLayout

<div class="mt-2">
    <img src="@(Path)" class="img-fluid" alt="@(Path)" />
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    public string Path { get; set; } = default!;
    protected override void OnParametersSet()
    {
        Path = ImagesData.GetImages().First(x => x.Id == Id).Path!;
    }
}