@page "/images2022"

<PageTitle>Рисунки</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>Все рисунки за 2022 год</h1>

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Мечта</h5>
                <a href="/images/2022/Мечта.png">
                    <img src="/images/2022/Мечта.png" class="card-img-top" alt="Мечта" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Идеал</h5>
                <a href="/images/2022/Идеал.png">
                    <img src="/images/2022/Идеал.png" class="card-img-top" alt="Идеал" />
                </a>
            </div>
        </div>
    </div>

    <div>
        <NavLink class="btn btn-info me-1" href="images2021">
            Предидущие
        </NavLink>
    </div>
</div>