@page "/images"

<PageTitle>Рисунки</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>Все рисунки</h1>

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Мечта</h5>
                <a href="/images/2022/Мечта.png">
                    <img src="/images/2022/Мечта.png" class="card-img-top" alt="Мечта" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Идеал</h5>
                <a href="/images/2022/Идеал.png">
                    <img src="/images/2022/Идеал.png" class="card-img-top" alt="Идеал" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Инвентаризация</h5>
                <a href="/images/2021/Инвентаризация.png">
                    <img src="/images/2021/Инвентаризация.png" class="card-img-top" alt="Инвентаризация" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Сводка</h5>
                <a href="/images/2021/Сводка.png">
                    <img src="/images/2021/Сводка.png" class="card-img-top" alt="Сводка" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Счастье</h5>
                <a href="/images/2021/Счастье.png">
                    <img src="/images/2021/Счастье.png" class="card-img-top" alt="Счастье" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Рай</h5>
                <a href="/images/2021/Рай.jpg">
                    <img src="/images/2021/Рай.jpg" class="card-img-top" alt="Рай" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">На работу</h5>
                <a href="/images/2021/На работу.jpg">
                    <img src="/images/2021/На работу.jpg" class="card-img-top" alt="На работу" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Встреча</h5>
                <a href="/images/2021/Встреча.jpg">
                    <img src="/images/2021/Встреча.jpg" class="card-img-top" alt="Встреча" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">61-я</h5>
                <a href="/images/2021/61.png">
                    <img src="/images/2021/61.png" class="card-img-top" alt="61-я" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Автоматизация</h5>
                <a href="/images/2021/Автоматизация.jpg">
                    <img src="/images/2021/Автоматизация.jpg" class="card-img-top" alt="Автоматизация" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Домовой</h5>
                <a href="/images/2021/Домовой.jpg">
                    <img src="/images/2021/Домовой.jpg" class="card-img-top" alt="Домовой" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Запой</h5>
                <a href="/images/2021/Запой.jpg">
                    <img src="/images/2021/Запой.jpg" class="card-img-top" alt="Запой" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Кефирный мир</h5>
                <a href="/images/2021/Кефирный мир.jpg">
                    <img src="/images/2021/Кефирный мир.jpg" class="card-img-top" alt="Кефирный мир" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Конфискация</h5>
                <a href="/images/2021/Конфискация.jpg">
                    <img src="/images/2021/Конфискация.jpg" class="card-img-top" alt="Конфискация" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Крышу</h5>
                <a href="/images/2021/Крышу.jpg">
                    <img src="/images/2021/Крышу.jpg" class="card-img-top" alt="Крышу" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Люди-паровозы</h5>
                <a href="/images/2021/Люди-паровозы.jpg">
                    <img src="/images/2021/Люди-паровозы.jpg" class="card-img-top" alt="Люди-паровозы" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Новая машина</h5>
                <a href="/images/2021/Новая машина.jpg">
                    <img src="/images/2021/Новая машина.jpg" class="card-img-top" alt="Новая машина" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Новогодний нефтевоз</h5>
                <a href="/images/2021/Новогодний нефтевоз.jpg">
                    <img src="/images/2021/Новогодний нефтевоз.jpg" class="card-img-top" alt="Новогодний нефтевоз" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Новогодняя открытка</h5>
                <a href="/images/2021/Новогодняя открытка.jpg">
                    <img src="/images/2021/Новогодняя открытка.jpg" class="card-img-top" alt="Новогодняя открытка" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Перевахтовка</h5>
                <a href="/images/2021/Перевахтовка.jpg">
                    <img src="/images/2021/Перевахтовка.jpg" class="card-img-top" alt="Перевахтовка" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Перелет в филиальную</h5>
                <a href="/images/2021/Перелет в филиальную.jpg">
                    <img src="/images/2021/Перелет в филиальную.jpg" class="card-img-top" alt="Перелет в филиальную" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Промысел</h5>
                <a href="/images/2021/Промысел.jpg">
                    <img src="/images/2021/Промысел.jpg" class="card-img-top" alt="Промысел" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Прыг</h5>
                <a href="/images/2021/Прыг.jpg">
                    <img src="/images/2021/Прыг.jpg" class="card-img-top" alt="Прыг" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Сварщик</h5>
                <a href="/images/2021/Сварщик.jpg">
                    <img src="/images/2021/Сварщик.jpg" class="card-img-top" alt="Сварщик" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Речка</h5>
                <a href="/images/2021/Речка.jpg">
                    <img src="/images/2021/Речка.jpg" class="card-img-top" alt="Речка" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">С Новым Годом</h5>
                <a href="/images/2021/С Новым Годом.jpg">
                    <img src="/images/2021/С Новым Годом.jpg" class="card-img-top" alt="С Новым Годом" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Собрание</h5>
                <a href="/images/2021/Собрание.jpg">
                    <img src="/images/2021/Собрание.jpg" class="card-img-top" alt="Собрание" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Сокращение</h5>
                <a href="/images/2021/Сокращение.jpg">
                    <img src="/images/2021/Сокращение.jpg" class="card-img-top" alt="Сокращение" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Старый новый год</h5>
                <a href="/images/2021/Старый новый год.jpg">
                    <img src="/images/2021/Старый новый год.jpg" class="card-img-top" alt="Старый новый год" />
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card mb-4">
                <h5 class="card-header">Телеметрия</h5>
                <a href="/images/2021/Телеметрия.jpg">
                    <img src="/images/2021/Телеметрия.jpg" class="card-img-top" alt="Телеметрия" />
                </a>
            </div>
        </div>
    </div>
</div>
