@page "/"

<PageTitle>Главная</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>Никольский кефир</h1>

    <p>Несколько самых лучших рисунков.</p>

    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <h5 class="card-header">Инвентаризация</h5>
                <a href="/images/2021/Инвентаризация.png">
                    <img src="/images/2021/Инвентаризация.png" class="card-img-top" alt="Инвентаризация" />
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <h5 class="card-header">Сводка</h5>
                <a href="/images/2021/Сводка.png">
                    <img src="/images/2021/Сводка.png" class="card-img-top" alt="Сводка" />
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <h5 class="card-header">Счастье</h5>
                <a href="/images/2021/Счастье.png">
                    <img src="/images/2021/Счастье.png" class="card-img-top" alt="Счастье" />
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <h5 class="card-header">Идеал</h5>
                <a href="/images/2022/Идеал.png">
                    <img src="/images/2022/Идеал.png" class="card-img-top" alt="Идеал" />
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <h5 class="card-header">Рай</h5>
                <a href="/images/2021/Рай.jpg">
                    <img src="/images/2021/Рай.jpg" class="card-img-top" alt="Рай" />
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <h5 class="card-header">Мечта</h5>
                <a href="/images/2022/Мечта.png">
                    <img src="/images/2022/Мечта.png" class="card-img-top" alt="Мечта" />
                </a>
            </div>
        </div>
    </div>
</div>
