@page "/share"

<PageTitle>Поделиться</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>Поделиться этим приложением</h1>

    <p>Мы социальны:</p>

    <p>Этот раздел в разработке</p>

    <p>Поделиться приложением офлайн через QR-код:</p>

    <img src="img/nikkefirqr.png" class="img-fluid" alt="QR поделиться офлайн" width="400" />

</div>
