@page "/share"

<PageTitle>Поделиться - Никольский кефир</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>Поделиться этим приложением</h1>

    <p>Мы в социальных сетях:</p>

    <p>
        <a class="btn btn-primary" target="_blank" href="https://vk.com/public218112835">
            <i class="fab fa-vk"></i>
            В контакте
        </a>
    </p>

    <p>
        <a class="btn btn-warning" target="_blank" href="https://ok.ru/group/70000001487674">
            <i class="fab fa-odnoklassniki"></i>
            Одноклассники
        </a>
    </p>

    <p>
        <a class="btn btn-info" target="_blank" href="https://t.me/nikkefir">
            <i class="fab fa-telegram"></i>
            Телеграм
        </a>
    </p>

    <p>
        <a class="btn btn-dark" target="_blank" href="https://www.tiktok.com/@@kanadeiar">
            <i class="fab fa-tiktok"></i>
            TikTok
        </a>
    </p>

    <p>
        <a class="btn btn-danger" target="_blank" href="https://www.youtube.com/channel/UCXNDrMOk2IpH6l4LYIikFqA">
            <i class="fab fa-youtube"></i>
            YouTube
        </a>
    </p>

    <p>
        <a class="btn btn-dark" target="_blank" href="https://www.instagram.com/kanadeiar/">
            <i class="fab fa-instagram"></i>
            Инстаграм
        </a>
    </p>

    <p>Поделиться приложением офлайн через QR-код:</p>

    <img src="img/nikkefirqr.png" class="img-fluid" alt="QR поделиться офлайн" width="400" />

</div>