@inherits LayoutComponentBase

<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-success border-bottom mb-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="/nikkefir/" @onclick="SelectMenu">
                <img src="favicon.png" alt="Бренд" width="30" height="30" class="d-inline-block align-text-top">
            </a>
            <a class="navbar-brand" href="/nikkefir/" @onclick="SelectMenu">
                Никольский кефир
            </a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse @NavMenuCssClass">
                <MenuPartial OnClickCallback="@SelectMenu" />
            </div>
        </div>
    </nav>
</header>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void SelectMenu()
    {
        collapseNavMenu = true;
    }
}