@inherits LayoutComponentBase

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInfo" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Рисунки
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownInfo">
            <li>
                <NavLink class="dropdown-item" href="pics" @onclick="OnClickCallback" Match="NavLinkMatch.All">
                    Все
                </NavLink>
            </li>
            <li>
                <NavLink class="dropdown-item" href="pics/2023" @onclick="OnClickCallback">
                    2023 год
                </NavLink>
            </li>
            <li>
                <NavLink class="dropdown-item" href="pics/2022" @onclick="OnClickCallback">
                    2022 год
                </NavLink>
            </li>
            <li>
                <NavLink class="dropdown-item" href="pics/2021" @onclick="OnClickCallback">
                    2021 год
                </NavLink>
            </li>
            <li>
                <NavLink class="dropdown-item" href="pics/2020" @onclick="OnClickCallback">
                    2020 год
                </NavLink>
            </li>
            <li>
                <NavLink class="dropdown-item" href="pics/2019" @onclick="OnClickCallback">
                    2019 год
                </NavLink>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="about" @onclick="OnClickCallback" ActiveClass="text-white">
            О приложении
        </NavLink>
    </li>
</ul>

<div class="d-flex">
    <NavLink class="btn btn-info me-1" href="share" @onclick="OnClickCallback" ActiveClass="disabled">
        <i class="fas fa-share-alt"></i>
        Поделиться
    </NavLink>
    <NavLink class="btn btn-warning me-1" href="order" @onclick="OnClickCallback" ActiveClass="disabled">
        <i class="fas fa-cart-shopping"></i>
        Заказать рисунок
    </NavLink>
</div>

@code {
    [Parameter]
    public EventCallback OnClickCallback { get; set; }
}